*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify{
    justify-content: space-between;
}
.text-align-center{
    text-align: center;
}
.flex-center{
    align-items: center;
}
.margin-tb{
    margin: 20px 0;
}
.margin-rl{
    margin: 0px 20px;
}

.width-70{
    width: 75%;
}
.height-55{
    height: 55%;
}
.width-25{
    width: 25%;
}
.height-22{
    height: 22.5%;
}
h1{
    font-size: 3rem;
    margin-bottom: 25px;
}
.text-color{
    color: white;
    
}
.text-color-main{
    color: #292841;
}
.text-align-end{
    text-align: end;
}
.font-size{
    font-size: 25px;
}
.bold{
    font-weight: bold;
    margin-bottom: 25px;
}
.box-white{
    background-color: white;
    padding: 0.7rem;
}
.box-violet{
    background-color: #5865f2;
}
.box-darkgray{
    background-color: #151424;
    padding: 0.7rem;
    
}
.box-radius{
    border-radius: 20px;
    padding: 0.7rem;
}
.space-around{
    justify-content: space-around;
}
.margin-auto{
    margin: 0 auto;
}

.height-100{
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 880px;
    margin: 0 auto;
}
.img-big{
    width: 50%
}
.background-img{
    background-image: url(../img/item4-big.svg);
    background-size: cover;
    background-position: center;
}

.dashed-border{
    border: 2px dashed black;
}

.dashed-border-white{
    border: 2px dashed white;
}

.background-gold{
    background-color: #d9a420;
}

.background-gray{
    background-color: #d2d2d2;
}
.background-wave{
    background-image: url(../img/wave.svg);
    width: 100%;
    height: 75px;
    opacity: 18%;
}
.background-wave-rotate{
    background-image: url(../img/wave.svg);
    width: 100%;
    height: 75px;
    opacity: 18%;
    transform: rotate(180deg);
}
.background-pastel-pink{
    background-color: #feb5c0;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 1.15rem;
}

header{
    background-color: #255ee9;
    /* padding-bottom: 5px; */
}

header section.upper{
    height: 80px;
    margin: 0px auto;
}

section.upper{
    width: 100%;
    height: 40px;
    align-items: center;
}

section.upper>div{
    width: fit-content;
    padding: .5rem 1rem;
}

section.upper nav {
    width: 60%;
}

section.upper nav ul{
    list-style-type: none;
    padding: .5rem 1rem;
    justify-content:space-around;
}

section.upper nav ul li{
    margin-right: .5rem;
}

section.upper div.login{
    text-align: right;
}

header section.jumbotron{
    background-color: #00008a;
    /* height: 550px; */
    padding: 4rem 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

section.jumbotron .hero{
    
    height: 400px;
    width: 55%;
    text-align: center;
    justify-content: center;
    
}

main>section{
    padding: 4rem 0;
}

/* TODO Rimuovere dopo i contenuti*/


main section div.blue-column{
    width: 75%;
    margin: 0 auto;
}

main section div.pink-column{
    width: 25%;
}

main section div.big-column{
   
    width: 100%;
    height: 800px;
}

footer{
    background-color: #23272a;
    padding-top: 1rem;
}
ul{
    list-style: none;
    margin: 20px 0;
    color: #5865f2;
    
}
li{
    color: white;
    margin: 10px 0;
    
}
.inline-block{
    display: inline-block;
    font-size: smaller;
}
.logo-size{
    width: 15px;
    height: 10px;
}
footer div.footer-columns{
    width: 70%;
}

footer div.secondary-column{
    
    width: calc(100% / 4);
}

footer section.footer-bottom{
    
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer section .logo-wrapper,
footer section .button-wrapper{
    padding: .5rem;
}
.logo1{
    height: 13px;
    width: 17px;
    background-image: url(../img/Senza\ titolo-2.png);
    background-size: cover;
    align-self: center;
}
.logo2{
    height: 10px;
    width: 10px;
    background-image: url(../img/Senza\ titolo-3.png);
    background-size: cover;
    align-self: center;
}
.logo3{
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url(../img/Senza\ titolo-1.png);
    align-self: center;
}
.logo4{
    width: 15px;
    height: 11px;
    background-size: cover;
    background-image: url(../img/Senza\ titolo-4.png);
    align-self: center;
}